<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865289058733-8vi59ch0pqn55jmqm1utgd34m9kecrqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865289058733-8vi59ch0pqn55jmqm1utgd34m9kecrqt</string>
	<key>API_KEY</key>
	<string>AIzaSyBaX2itrWb2ZxZJKPd4efB_lyS9ahJl3cA</string>
	<key>GCM_SENDER_ID</key>
	<string>865289058733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misafu</string>
	<key>PROJECT_ID</key>
	<string>misafu-de5a1</string>
	<key>STORAGE_BUCKET</key>
	<string>misafu-de5a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865289058733:ios:00cadd4794d727041a4924</string>
</dict>
</plist>